#sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color:#7386D5;
  position: fixed;
  height: 100%;
  overflow: auto;
}

#sidebar.active {
  left: -200px;
}

.sidebar-header {
  padding: 20px;
  background: #6d7fcc;
  color: #fff;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color:  #fff;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  color: #fff;
    background: #6d7fcc;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  color: #7386D5;
  background: #fff;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
#content {
  margin-left: 200px;
  padding: 10px 0px;

}

#content.active{
  margin-left: 0px;
}

div.card{
 margin: 5px -5px;
}

body{
  background: #fafafa;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}