<!--bar one detail-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<!--page content-->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <section id="about" class="front-page-section" style="">
                <div class="section-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="aboutHeader">About</h3>
                            </div>
                            <!--/.col-sm-12-->
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="section-description">AiCULUS is a global technology company that
                                    specialises in digital defence and secure
                                    business optimisation services. Our mission is to enable businesses to securely
                                    leverage the
                                    full benefits of the Internet of Everything. AiCULUS’ team of technology and
                                    business
                                    specialists use the latest research and next generation technology to help
                                    organisations
                                    securely optimise their operations.

                                    The organisation of the future is one that has visibility of current and potential
                                    threats and
                                    enablers, understands the value of and takes full advantage of technology. AiCULUS'
                                    mission is to help companies remain securely relevant into the future while
                                    providing
                                    optimal value for their shareholders and customers.</div>
                            </div>
                            <!--/.col-sm-10.col-sm-offset-1-->
                        </div>
                        <!--/.row-->
                    </div>
                    <!--/.container-->
                </div>
                <!--/.section-header-->
                <div class="section-content">
                    <div class="container">
                        <div class="row">
                        </div>
                        <!--/.row-->
                    </div>
                    <!--/.container-->
                </div>
                <!--/.section-content-->
            </section>