<!--bar one detail-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<!--page content-->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <head>
                    <meta charset="utf-8">
                    <title>Single file upload</title>
                </head>

                <body>
                    <h1>Upload single file with fields</h1>
                    <form action="/upload" method="post" enctype="multipart/form-data">
                        <br> Files:
                        <input type="file" name="file">
                        <br>
                        <br>
                        <input type="submit" value="Submit">
                    </form>
                </body>
            </div>
        </div>
    </div>
</div>

                <!--Embed the footer.html template at this location-->
                {{ template "footer.html" .}}