<!--bar one detail-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<!--page content-->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">

                <head>
                    <meta charset="utf-8">
                    <title>Single file upload</title>
                </head>

                <body>
                    <h1>Upload single file with fields</h1>
                    <form action="/upload" method="post" enctype="multipart/form-data">
                        <br> Files:
                        <input type="file" name="file" onchange="validate_fileupload(this.value);">
                        <br>
                        <br>
                        <input type="submit" value="Submit" onclick="return valid_form();">
                    </form>
                </body>
            </div>
        </div>
    </div>
</div>

<script>
    var valid = false;
    function validate_fileupload(fileName) {
        var allowed_extensions = "xlsx";
        var file_extension = fileName.split('.').pop().toLowerCase(); // split function will split the filename by dot(.), and pop function will pop the last element from the array which will give you the extension as well. If there will be no extension then it will return the filename.

        if (allowed_extensions == file_extension) {
            valid = true;
        }
        return valid; // valid file extension
        return false;
    }


    function valid_form() {
        if (valid == false) {
            alert("please upload .xlsx file");
        }
        alert("upload success");
        return valid;
    }

</script>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}