<!--bar one detail-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<!--page content-->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div id="columnChart" style="height:300px"></div>
            </div>
            <div class="col-6">
                <div id="barChart" style="height:300px"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <h1>GICS Details</h1>
                    <table id="table">
                    </table>
                </div>  
            </div>           
        </div>
    </div>
</div>

<script>
    // Load Charts and the corechart package.
   google.charts.load('current', { 'packages': ['corechart'] });

    // Draw the bar chart when Charts is loaded.
    google.charts.setOnLoadCallback(drawMultSeries);
    // Draw the column chart when Charts is loaded.
    google.charts.setOnLoadCallback(drawBasic);

    function drawMultSeries() {
        var data = new google.visualization.DataTable();
        data.addColumn('timeofday', 'Time of Day');
        data.addColumn('number', 'Motivation Level');
        data.addColumn('number', 'Energy Level');

        data.addRows([
            [{ v: [8, 0, 0], f: '8 am' }, 1, .25],
            [{ v: [9, 0, 0], f: '9 am' }, 2, .5],
            [{ v: [10, 0, 0], f: '10 am' }, 3, 1],
            [{ v: [11, 0, 0], f: '11 am' }, 4, 2.25],
            [{ v: [12, 0, 0], f: '12 pm' }, 5, 2.25],
            [{ v: [13, 0, 0], f: '1 pm' }, 6, 3],
            [{ v: [14, 0, 0], f: '2 pm' }, 7, 4],
            [{ v: [15, 0, 0], f: '3 pm' }, 8, 5.25],
            [{ v: [16, 0, 0], f: '4 pm' }, 9, 7.5],
            [{ v: [17, 0, 0], f: '5 pm' }, 10, 10],
        ]);

        var options = {
            title: 'Motivation and Energy Level Throughout the Day',
            hAxis: {
                title: 'Time of Day',
                format: 'h:mm a',
                viewWindow: {
                    min: [7, 30, 0],
                    max: [17, 30, 0]
                }
            },
            vAxis: {
                title: 'Rating (scale of 1-10)'
            }
        };

        var chart = new google.visualization.ColumnChart(
            document.getElementById('columnChart'));

        chart.draw(data, options);
    }

    function drawBasic() {

            var data = google.visualization.arrayToDataTable([
                ['City', '2010 Population',],
                ['New York City, NY', 8175000],
                ['Los Angeles, CA', 3792000],
                ['Chicago, IL', 2695000],
                ['Houston, TX', 2099000],
                ['Philadelphia, PA', 1526000]
            ]);

            var options = {
                title: 'Population of Largest U.S. Cities',
                chartArea: { width: '50%' },
                hAxis: {
                    title: 'Total Population',
                    minValue: 0
                },
                vAxis: {
                    title: 'City'
                }
            };

            var chart = new google.visualization.BarChart(document.getElementById('barChart'));

            chart.draw(data, options);
        }

</script>



<script>
    $('#table').bootstrapTable({
        pagination:true,
        pageNumber:1,
        pageSize:5,
        pageList: [20, 50, 100, 150],
        url: 'http://localhost:8080/OtherGraphs',
        columns:[{
            field: 'code',
            title:'GICS code'
        },
        {
            field:'name',
            title:'Name'
        },
        {
            field:'presentage',
            title:'presentage'            
        },]   
    });

    $('#table').on('click-row.bs.table', function(e, row, $element) {
        alert(row.name+" "+row.code+" "+row.presentage);
        window.location.assign("http://localhost:8080/details/"+row.code);
        
         alert(data.code);
                $('#table2').bootstrapTable('load',data
               
                /*
                [{
                    url: 'http://localhost:8080/stock',
                        columns: [{
                        field: 'date',
                        title: 'date'
                    },
                    {
                        field: 'isin',
                        title: 'isin'
                    },
                    {
                        field: 'ric',
                        title: 'ric'
                    },
                    {
                        field: 'name',
                        title: 'name'
                    },
                    {
                        field: 'isocty',
                        title: 'isocty'
                    }, 
                    {
                        field: 'gics',
                        title: 'gics'
                    },]
                    
                }]
                */
                );


    });
</script>



<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}