<!--bar one detail-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<!--page content-->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="col">
            <a class="btn btn-primary" href="/" role="button" style="margin-top:10px;">Mainpage</a>
            <a class="btn btn-primary" href="/country" role="button" style="margin-top:10px;">Country</a>
        </div>
        <div class="row">
            <div class="col-6">
                <div id="columnChart" style="height:300px"></div>
            </div>
            <div class="col-6">
                <div id="barChart" style="height:300px"></div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div>
                    <p hidden>{{ .id }}</p>
                    <h1>Regional Weights Details</h1>
                    <table id="table">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Load Charts and the corechart package.
    google.charts.load('current', { 'packages': ['corechart'] });

    // Draw the bar chart when Charts is loaded.
    google.charts.setOnLoadCallback(drawcolumnChart);
    // Draw the column chart when Charts is loaded.
    google.charts.setOnLoadCallback(drawBarChart);

    function drawcolumnChart() {
        $.ajax({
            url: 'http://localhost:8080/barChart2',
            dataType: 'json',
            success: function (jsonData) {
                var data = new google.visualization.DataTable();

                data.addColumn('string', 'name');
                // data.addColumn({ type: 'string', role: 'annotation' });
                data.addColumn('number', 'CURR_PORT');
                // data.addColumn({ type: 'string', role: 'annotation' });
                data.addColumn('number', 'MSWLD');
                // data.addColumn({ type: 'string', role: 'annotation' });
                for (var i = 0; i < 5; i++) {
                    data.addRows([[jsonData[i].name, jsonData[i].spercentage, jsonData[i].bpercentage]]);
                    // data.addRows([[jsonData[i].name, jsonData[i].spercentage, jsonData[i].bpercentage]]);
                }
                var options = {
                    title: 'Regional Weights',
                    legend: { position: 'top' },
                    colors: [`#3e95cd`, `#8e5ea2`],
                }

                var chart = new google.visualization.ColumnChart(
                    document.getElementById('columnChart'));

                chart.draw(data, options);
            }

        });
    }

    function drawBarChart() {
        $.ajax({
            url: 'http://localhost:8080/barChart2',
            dataType: 'json',
            success: function (jsonData) {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'name');
                data.addColumn('number', 'percentage');
                data.addColumn({ type: 'string', role: 'annotation' });
                for (var i = 0; i < 5; i++) {
                    data.addRows([[jsonData[i].name, jsonData[i].diff, '' + jsonData[i].diff + '']]);
                }
                var options = {
                    title: 'Regional Active Weight',
                    chartArea: { width: '50%' },
                    colors: ['#dc3912'],
                    hAxis: {
                        title: 'Total Population',
                        minValue: 0
                    },
                    vAxis: {
                        title: 'City'
                    },
                    annotations: {
                        alwaysOutside: true,
                        textStyle: {
                            fontSize: 14,
                            color: '#000',
                            auraColor: 'none'
                        }
                    }

                };

                var chart = new google.visualization.BarChart(document.getElementById('barChart'));

                chart.draw(data, options);
            }
        });
    }

</script>




<script>
    $('#table').bootstrapTable({

        url: 'http://localhost:8080/barChart2',
        columns: [{
            field: 'code',
            align: 'center',
            valign: 'middle',
            sortable: true,
            title: 'Region Code'
        },
        {
            field: 'name',
            align: 'left',
            valign: 'middle',
            sortable: true,
            title: 'Name'
        },
        {
            field: 'spercentage',
            align: 'center',
            valign: 'middle',
            sortable: true,
            title: 'CURR_PORT',
            formatter: numberFormatter,
        },
        {
            field: 'bpercentage',
            align: 'center',
            valign: 'middle',
            sortable: true,
            title: 'MSWLD',
            formatter: numberFormatter,
        },
        {
            field: 'diff',
            align: 'center',
            valign: 'middle',
            sortable: true,
            title: 'vs_MSWLD',
            cellStyle: format,
            formatter: numberFormatter,
        },]
    });


    $('#table').on('click-row.bs.table', function (e, row, $element) {
        //alert(row.name+" "+row.code+" "+row.spercentage+" "+row.bpercentage+" "+ row.diff);
        window.location.assign("http://localhost:8080/details/" + row.code);

        //alert(row.code);               
    });

    function format(data) {
        if (data > 0) {
            return { css: { "color": "green" } };
        } else if (data < 0) {
            return { css: { "color": "red" } };
        } else {
            return { css: { "color": "black" } };
        }
    }

    function numberFormatter(data) {
        return data + '%';
    }
</script>



<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}