<!--bar one detail-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<!--page content-->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="col">
            <a class="btn btn-primary" href="/" role="button" style="margin-top:10px;">Mainpage</a>
            <a class="btn btn-primary" href="/bar/2" role="button" style="margin-top:10px;">Region</a>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="columnChart" style="height:300px"></div>
            </div>
            <div class="col-12">
                <div id="barChart" style="height:800px"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                    <p hidden>{{ .id }}</p>
                    <h1>Country Weights Details</h1>                   
                        <table id="table">
                        </table>  
                    
                    
            </div>           
        </div>
    </div>
</div>

<script>
    // Load Charts and the corechart package.
   google.charts.load('current', { 'packages': ['corechart'] });

    // Draw the bar chart when Charts is loaded.
    google.charts.setOnLoadCallback(drawcolumnChart);
    // Draw the column chart when Charts is loaded.
    google.charts.setOnLoadCallback(drawBarChart);

    function drawcolumnChart() {
        $.ajax({
            url: 'http://localhost:8080/barChart3',
            dataType: 'json',
            success: function (jsonData) {
                var data = new google.visualization.DataTable();
                
                data.addColumn('string','name');
                data.addColumn('number','Profolio');
                // data.addColumn({ type: 'string', role: 'annotation' });
                data.addColumn('number', 'Benchmark');
                // data.addColumn({ type: 'string', role: 'annotation' });
                
                for(var i=0;i<jsonData.length;i++){
                    data.addRows([[jsonData[i].name, jsonData[i].spercentage, jsonData[i].bpercentage]]);
                    // data.addRows([[jsonData[i].name, jsonData[i].spercentage,""+jsonData[i].spercentage+"",jsonData[i].bpercentage,""+jsonData[i].bpercentage+""]]);
                }
                var options = {
                    title: 'Country Weights',
                    legend: { position: 'top' },
                    colors: [`#3e95cd`, `#8e5ea2`],
                }

        var chart = new google.visualization.ColumnChart(
            document.getElementById('columnChart'));

        chart.draw(data, options);
    }

    });
    }

    function drawBarChart() {
        $.ajax({
            url: 'http://localhost:8080/barChart3',
            dataType: 'json',
            success: function (jsonData) {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'name');
        data.addColumn('number', 'percentage');
        data.addColumn({ type: 'string', role: 'annotation' });
        // var dataName = new Array();
        // var dataDiff = new Array();
        // for (var i=0; i< jsonData.length; i++){
        //     dataName[i]=jsonData[i].name;
        // }
        // for (var i=0;i<jsonData.length;i++){
        //     dataDiff[i]=jsonData[i].diff;
        // }
        for (var i = 0; i < jsonData.length; i++) {
            data.addRows([[jsonData[i].name, jsonData[i].diff,''+jsonData[i].diff+'']]);
        }
        // for (var i=0; i<dataDiff.length; i++){
        //     data.addRows([[dataName[i],dataDiff[i]]]);
        // }
            var options = {
                title: 'Country Active Weight',
                colors: ['#dc3912'],
                chartArea: { width: '50%' },
                hAxis: {
                    title: 'Weight',
                    minValue: 0
                },
                vAxis: {
                    title: 'Country'
                },
                annotations: {
          alwaysOutside: true,
          textStyle: {
            fontSize: 14,
            color: '#000',
            auraColor: 'none'
          }
        },
            };

            var chart = new google.visualization.BarChart(document.getElementById('barChart'));

            chart.draw(data, options);
            }
        });
        }

</script>



<script>
    $('#table').bootstrapTable({
        height: 300 ,
        url: 'http://localhost:8080/barChart3',
        columns:[{
            field: 'code',
            sortable:true,
            title:'Country code',
            align: 'center',
            valign: 'middle',
        },
        {
            field:'name',
            sortable:true,
            title:'Country Name',
            align: 'center',
            valign: 'middle',
        },
        {
            field:'spercentage',
            sortable:true,
            title:'Portfolio',
            align: 'center',
            valign: 'middle',
            formatter: numberFormatter,             
        },
        {
            field: 'bpercentage',
            sortable:true,
            title: 'Benchmark',
            align: 'center',
            valign: 'middle',
            formatter: numberFormatter, 
        },
        {
            field: 'diff',
            sortable:true,
            title: 'Difference',
            align: 'center',
            valign: 'middle',
            cellStyle: format,
            formatter: numberFormatter, 
        },]   
    });

    $('#table').on('click-row.bs.table', function(e, row, $element) {
        //alert(row.name+" "+row.code+" "+row.spresentage+" "+row.bpresentage+" "+ row.diff);
        window.location.assign("http://localhost:8080/details/"+row.code);
        
         alert(data.code);               
    });

    function format(data) {
        if (data > 0) {
            return { css: { "color": "green" } };
        } else if (data < 0) {
            return { css: { "color": "red" } };
        } else {
            return { css: { "color": "black" } };
        }
    }

    function numberFormatter(data) {
        return data + '%';
    }
</script>



<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}