<!--detail-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<!--page content-->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <table id="table">
                    </table> 
                </div>
            </div>

            <div class="col">
                <a class="btn btn-primary" href="/bar/1" role="button" style="margin-top:10px;">Mainpage</a>
            </div>

        </div>
    </div>
</div>

<script>
    var id = '{{ .id }}';

    $('#table').bootstrapTable({
        height:600,
        sortable:true,
        search: true,
        sortable: true,
        url: 'http://localhost:8080/stock/' + id,
        columns: [{
            field: 'date',
            title: 'Date',
            valign: 'middle',
            sortable: true,
        },
        {
            field: 'isin',
            title: 'ISIN',
            valign: 'middle',
            sortable: true,
        },
        {
            field: 'ric',
            title: 'RIC',
            valign: 'middle',
            sortable: true,
        },
        {
            field: 'name',
            title: 'Name',
            valign: 'middle',
            sortable: true,
        },
        {
            field: 'isocty',
            title: 'isocty',
            valign: 'middle',
            sortable: true,
        },
        {
            field: 'gics',
            title: 'GICS',
            valign: 'middle',
            sortable: true,
        },
        {
            field: 'float',
            title: 'Portfolio',
            valign: 'middle',
            sortable: true, 
            formatter: getFormattedCurrency,
        },
        ]
    });
    function getFormattedCurrency(data) {
        return data.toLocaleString('en-US', { style: 'currency', currency: 'USD' });
    }
</script>