
<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<!--page content-->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <table id="SecurityTable">
                </table>
            </div>
            <div class="col-7">
                <h3 style="text-align:center">Please select security from table</h3>
                <div id="chart_div"></div>
            </div>
        </div>
    </div>
</div>





<script>
    //VMQ table
    $('#SecurityTable').bootstrapTable({
        height: 600,
        url: 'http://localhost:8080/VMQ',
        columns: [{
            field: 'name',
            title: 'Security_Name',
            align: 'center'
        },
        {
            field: 'v.0',
            title: 'V(%)',
            align: 'center'
        },
        {
            field: 'm.0',
            title: 'M(%)',
            align: 'center'
        },
        {
            field: 'q.0',
            title: 'Q(%)',
            align: 'center'
        },
        {
            field: 'vmq.0',
            title: 'VMQ(%)',
            sortable: true,
            align: 'center'
        },]
    });

    var VMQArr = [];
    var VMQname, VMQIndex;
    //LOAD TABLE ROW DATA BY AJAX
    $.ajax({
        url: 'http://localhost:8080/VMQ',
        dataType: 'json',
        success: function (data) {
            var rowData = '';
            for (var i = 0; i < data.length; i++) {
                var VMQObj = {
                    name: data[i].name,
                    v: data[i].v,
                    m: data[i].m,
                    q: data[i].q,
                    vmq: data[i].vmq
                };
                VMQArr.push(VMQObj);
            }
        }
    });



    $('#SecurityTable').on('click-row.bs.table', function (e, row, $element) {
        $("h3").remove();
        for (var i = 0; i < VMQArr.length; i++) {
            if (row.name == VMQArr[i].name) {
                VMQIndex = i;
            }
        }
        //draw line chart when click table row
        google.charts.load('current', { packages: ['corechart', 'line'] });
        google.charts.setOnLoadCallback(drawBasic);

        function drawBasic() {

            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', 'V');
            data.addColumn('number', 'M');
            data.addColumn('number', 'Q');
            data.addColumn('number', 'VMQ');
            var chartData = [
                [new Date(2018, 8, 24), VMQArr[VMQIndex].v[0], VMQArr[VMQIndex].m[0], VMQArr[VMQIndex].q[0], VMQArr[VMQIndex].vmq[0]],
                [new Date(2018, 8, 25), VMQArr[VMQIndex].v[1], VMQArr[VMQIndex].m[1], VMQArr[VMQIndex].q[1], VMQArr[VMQIndex].vmq[1]],
                [new Date(2018, 8, 26), VMQArr[VMQIndex].v[2], VMQArr[VMQIndex].m[2], VMQArr[VMQIndex].q[2], VMQArr[VMQIndex].vmq[2]],
                [new Date(2018, 8, 27), VMQArr[VMQIndex].v[3], VMQArr[VMQIndex].m[3], VMQArr[VMQIndex].q[3], VMQArr[VMQIndex].vmq[3]],
                [new Date(2018, 8, 28), VMQArr[VMQIndex].v[4], VMQArr[VMQIndex].m[4], VMQArr[VMQIndex].q[4], VMQArr[VMQIndex].vmq[4]]
            ];
            data.addRows(chartData);

            var options = {
                'height': 600,
                title: VMQArr[VMQIndex].name,
                series: {
                    0: { lineDashStyle: [4, 4] },
                    1: { lineDashStyle: [4, 4] },
                    2: { lineDashStyle: [4, 4] },  
                    3: { lineWidth: 4 }
                },
                hAxis: {
                    title: 'Time'
                },
                vAxis: {
                    title: 'percentage'
                }
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

            chart.draw(data, options);
        }






    });


</script>

<script>

    //draw line chart when click table row
    google.charts.load('current', { packages: ['corechart', 'line'] });
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'V');
        data.addColumn('number', 'M');
        data.addColumn('number', 'Q');
        data.addColumn('number', 'VMQ');
        var chartData = [
            [new Date(2018, 8, 24), VMQArr[VMQIndex].v[0], VMQArr[VMQIndex].m[0], VMQArr[VMQIndex].q[0], VMQArr[VMQIndex].vmq[0]],
            [new Date(2018, 8, 25), VMQArr[VMQIndex].v[1], VMQArr[VMQIndex].m[1], VMQArr[VMQIndex].q[1], VMQArr[VMQIndex].vmq[1]],
            [new Date(2018, 8, 26), VMQArr[VMQIndex].v[2], VMQArr[VMQIndex].m[2], VMQArr[VMQIndex].q[2], VMQArr[VMQIndex].vmq[2]],
            [new Date(2018, 8, 27), VMQArr[VMQIndex].v[3], VMQArr[VMQIndex].m[3], VMQArr[VMQIndex].q[3], VMQArr[VMQIndex].vmq[3]],
            [new Date(2018, 8, 28), VMQArr[VMQIndex].v[4], VMQArr[VMQIndex].m[4], VMQArr[VMQIndex].q[4], VMQArr[VMQIndex].vmq[4]]
        ];
        data.addRows(chartData);

        var options = {
            title: VMQArr[VMQIndex].name,
            series: {
                3: { lineWidth: 4 }
            },
            hAxis: {
                title: 'Time'
            },
            vAxis: {
                title: 'percentage'
            }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        chart.draw(data, options);
    }
</script>