<!--detail-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<!--page content-->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div id="thirdScorllTable">  
            <table id="table"></table>
        </div>
       </div>
    </div>
</div>

<script>
    var id = '{{ .id }}';
    $('#table').bootstrapTable({
        search: true,
        sortable: true,
        url: 'http://localhost:8080/stock/' + id,
        columns: [{
            field: 'date',
            title: 'Date'
        },
        {
            field: 'isin',
            title: 'ISIN'
        },
        {
            field: 'ric',
            title: 'RIC'
        },
        {
            field: 'name',
            title: 'Name'
        },
        {
            field: 'isocty',
            title: 'isocty'
        },
        {
            field: 'gics',
            title: 'GICS'
        },
        {
            field: 'float',
            title: 'float'
        },
        ]
    });
</script>