<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<!--page content-->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <img src="Outlook-1512471420.png">
            </div>
            <div class="col-8">
                
            </div>
        </div>
    </div>    
</div>
        


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}