<!--header.html-->

<!doctype html>
<html>

    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
            crossorigin="anonymous">
            <!--static css file-->
        <link href="/css/sidebar.css" rel="stylesheet">
        <!--jquery-->
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <!--jquery datatable library-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
        
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

        <!--jquery datatable css-->

        <!--chart.js library-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
        
        <!-- Latest compiled and minified Locales -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-en-US.min.js"></script>
        <!--google chart library-->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <!-- font -->
        <!-- <link rel="stylesheet" type="text/css" href="http://fonts.useso.com/css?family=Lato"> -->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />



    </head>

  <body>
<div id="wrapper">     
        <!--sidebar-->
    <div  id="sidebar-wrapper">

        <div id="ini-side-bar">

            <div class="sidebar-header">
                <!--<h3 class="font-weight-bold" style="text-align:center;">Aiculus</h3>-->
                <!-- <img style="text-align:center;" src="/img/logo3.png"> -->
                <object type="image/svg+xml" data="/img/Logo1.svg" class="Slogo1">
                    Logo with words SVG
                   </object>
            </div>

            <a href="/">
                <i class="fa fa-home"></i> &nbsp;Home</a>
            <a href="/account">
                <i class="fa fa-user-o"></i>&nbsp;Account</a>
            <a href="https://www.news.com.au/finance/markets">
                <i class="fa fa-newspaper-o"></i>&nbsp;News</a>
            <a href="/support">
                <i class="fa fa-commenting-o"></i>&nbsp;Support</a>
            <a href="/about">
                <i class="fa fa-map-signs"></i>&nbsp;About</a>

            </div>

            <div id="acted-side-bar" style="display:none;">
                <div class="sidebar-header">
                    <!--<h2 class="font-weight-bold" style="text-align:center;"><strong>A</strong></h2>-->
                    <!-- <img style="text-align:center;" src="/img/logo2.png"> -->
                    <object type="image/svg+xml" data="/img/Logo2.svg" class="Slogo2">
                        Logo SVG
                       </object>         
                </div>
               
                <a class="active" title="home" href="/" >
                                <i class="fa fa-home"></i></a>
                <a href="#news" title="Account" >
                                <i class="fa fa-user-o"></i></a>
                <a href="https://www.google.com/" title="News">
                                <i class="fa fa-newspaper-o"></i></a>
                <a href="#contact" title="Contact">
                                <i class="fa fa-commenting-o"></i></a>
                <a href="#about" title="About">
                                <i class="fa fa-map-signs"></i></a>

            </div> 

            <a href="#" title="collapse" id ="menu-toggle"><i class="fa fa-exchange"></i></a>
        </div> 

        <script>
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("menuDisplayed");
                $("#ini-side-bar").toggle();
                $("#acted-side-bar").toggle();

            });
        </script>