<!--header.html-->

<!doctype html>
<html>

    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
            crossorigin="anonymous">
        <link href="/css/sidebar.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

  <body>
        <!--sidebar-->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-header">
                <h3 class="font-weight-bold">Aiculus</h3>
            </div>
            <a class="active" href="#home">
                <i class="fa fa-home"></i> &nbsp;Home</a>
            <a href="#news">
                <i class="fa fa-user-o"></i>&nbsp;Account</a>
            <a href="#news">
                <i class="fa fa-newspaper-o"></i>&nbsp;News</a>
            <a href="#contact">
                <i class="fa fa-commenting-o"></i>&nbsp;Contact</a>
            <a href="#about">
                <i class="fa fa-map-signs"></i>&nbsp;About</a>
                <a href="#" id ="collapseBut">
                    <i class="fa fa-exchange"></i></a>
        </div>
