<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<!--page content-->

    <div  id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
            <div class="col-4 col-xs-6" id="col">
                
                <div class="card" >
                    <a href="/bar/1">
                    <div class="card-body">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                <canvas id="barChart1-1"></canvas>
                                </div>
                                <div class="carousel-item">
                                <canvas id="barChart1-2"></canvas>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" >
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only" >Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" >
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>                   
                    </div>
                   </a> 
                </div>

                 <div class="card">
                    <a href="/bar/2">
                    <div class="card-body">
                        <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <canvas id="barChart2-1"></canvas>
                                </div>
                                <div class="carousel-item">
                                    <canvas id="barChart2-2"></canvas>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                   </a> 
                </div>
            </div>
            <div class="col-4" id="col">
                <div class="card">
                    <div class="card-body">
                        <table id="table">
                        </table>
                    </div>
                </div>
            </div>   
            <div class="col-4" id="col">
                <a href="/security">
                <div class="card">
                    <div class="card-body">
                        <table id="table_country">
                        </table>
                    </div>
                </div>
                </a>
            </div>                   
        </div>
        <div class="row" >       
            <div class="col">
                <div id="myChart"></div>
                    <div class="text-center">
                        <div class="btn-group" role="group" aria-label="time" style="padding:10px;">
                            <button type="button" class="btn btn-outline-dark" id="daily">&nbsp;&nbsp;Daily&nbsp;&nbsp; </button>
                            <button type="button" class="btn btn-outline-dark" id="monthly">Monthly</button>
                            <button type="button" class="btn btn-outline-dark" id="annually">Annually</button> 
                        </div>
                    </div>                              
                </div>
            </div>                   
    </div>
        
</div>


<script>
            //VMQ table
           $('#table').bootstrapTable({
                height: 220,
                url: 'http://localhost:8080/VMQ',
                columns: [{
                    field: 'name',
                    title: 'Name',
                    align: 'center'
                },
                {
                    field: 'v.0',
                    title: 'V(%)',
                    align: 'center'
                },
                {
                    field: 'm.0',
                    title: 'M(%)',
                    align: 'center'
                },
                {
                    field: 'q.0',
                    title: 'Q(%)',
                    align: 'center'
                },
                {
                    field: 'vmq.0',
                    title: 'VMQ(%)',
                    sortable: true,
                    align: 'center'
                },]
            });

    $('#table').on('click-row.bs.table', function (e, row, $element) {
        alert(row.name+" "+row.v[0]+" "+row.m[0]+" "+row.q[0]+" "+ row.vmq[0]);
            window.location.assign("http://localhost:8080/detailsVMQ");

            alert(data.code);
    });


</script>

<script>

    $('#table_country').bootstrapTable({
         height: 450,
         url: 'http://localhost:8080/sec',
         columns: [{
             field: 'name',
             title: 'Name',
             sortable:true,
             align:'center'
         },
         {
             field: 'isocty',
             title: 'Country',
             sortable:true,
             align:'center'
         },
        {
            field: 'sector',
            title: 'Sector',
            sortable: true,
            align: 'center'
        },
        {
            field: 'weight',
            title: 'Weight',
            sortable: true,
            align: 'center'
        },
        ]
     });


</script>

<script>
    //get data from go api
    $("#daily").click(function(){
        $.ajax({
            url:'http://localhost:8080/line',
            dataType:'json',
            success: function(data){
                alert("stock:"+data.name+"\nprice:"+data.Price);
            }
        });
    });

</script>

<script>
//line chart
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Year', 'Sales', 'Expenses'],
            ['2004', 1000, 400],
            ['2005', 1170, 460],
            ['2006', 660, 1120],
            ['2007', 1030, 540]
        ]);

        var options = {
            title: 'Company Performance',
            curveType: 'function',
           
        };

        var chart = new google.visualization.LineChart(document.getElementById('myChart'));

        chart.draw(data, options);
    }
</script>
<script>
//other charts

//use ajax to get other 5 charts' data
$.ajax({
    url: 'http://localhost:8080/barChart1',
    dataType: 'json',
    success: function(data){
        //bar chart
    new Chart(document.getElementById("barChart1-1"), {
        type: 'bar',
        data: {
            labels: ["ENE", "MAT", "IND", "CSD", "CSS", "HLC", "FIN", "IFT", "TEL", "UTI","REL"],
            datasets: [{
                label: "profolio",
                backgroundColor:"#3e95cd",
                data: [data[0].spercentage, data[1].spercentage, data[2].spercentage, data[3].spercentage, data[4].spercentage, data[5].spercentage, data[6].spercentage, data[7].spercentage, data[8].spercentage, data[9].spercentage, data[10].spercentage]
            },
            {
                label: "Benchmark",
                backgroundColor:"#8e5ea2",
                data: [data[0].bpercentage, data[1].bpercentage, data[2].bpercentage, data[3].bpercentage, data[4].bpercentage, data[5].bpercentage, data[6].spercentage, data[7].spercentage, data[8].spercentage, data[9].spercentage, data[10].spercentage]

            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'GICS Sectors'},
        }
            
        
    });
    new Chart(document.getElementById("barChart1-2"), {
            type: 'bar',
            data: {
                //labels: ["EN", "MA", "IN", "CD", "CS", "HC", "FIN", "IT", "Tele", "Uti", "RE"],
                labels: ["ENE", "MAT", "IND", "CSD", "CSS", "HLC", "FIN", "IFT", "TEL", "UTI","REL"],
                datasets: [{
                    label: "%",
                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#493e8e", "#49b6bb", "#beb6bb", "#beffbb", "#beffff", "#6d844e"],
                    data: [data[0].diff, data[1].diff, data[2].diff, data[3].diff, data[4].diff, data[5].diff, data[6].diff, data[7].diff, data[8].diff, data[9].diff, data[10].diff]
                }]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: 'GICS Sectors Active Weight'
                },
                animation: {
                onComplete:function(){
                    var chartInstance = this.chart,
                    ctx = chartInstance.ctx;
                    ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                    ctx.fillStyle = "black";
                    ctx.textAlign = 'center';
                    ctx.textBaseline = 'bottomtip';
                    this.data.datasets.forEach(function (dataset, i) {
                        var meta = chartInstance.controller.getDatasetMeta(i);
                        meta.data.forEach(function (bar, index) {
                            var data = dataset.data[index];
                            ctx.fillText(data, bar._model.x, bar._model.y - 5);
                        });
                    });
            }

                },
            }
        });
    }
});


    $.ajax({
        url: 'http://localhost:8080/barChart2',
        dataType: 'json',
        success: function (data) {
//Doughnut chart
        new Chart(document.getElementById("barChart2-1"), {
            type: 'bar',
            data: {
                labels: [data[0].code,data[1].code,data[2].code,data[3].code,data[4].code],
                datasets: [
                    {
                        label: "CURR_PORT",
                        fill: true,
                        backgroundColor: "#49b6bb",
                        borderColor: "rgba(179,181,198,1)",
                        pointBorderColor: "#fff",
                        pointBackgroundColor: "rgba(179,181,198,1)",
                        data: [data[0].spercentage,data[1].spercentage,data[2].spercentage,data[3].spercentage,data[4].spercentage]
                    }, {
                        label: "MSWLD",
                        fill: true,
                        backgroundColor: "#beb6bb",
                        borderColor: "rgba(255,99,132,1)",
                        pointBorderColor: "#fff",
                        pointBackgroundColor: "rgba(255,99,132,1)",
                        pointBorderColor: "#fff",
                        data: [data[0].bpercentage,data[1].bpercentage,data[2].bpercentage,data[3].bpercentage,data[4].bpercentage]
                    }
                ]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: 'Regional Weights'
                },
                animation: {
                onComplete:function(){
                    var chartInstance = this.chart,
                    ctx = chartInstance.ctx;
                    ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                    ctx.fillStyle = "black";
                    ctx.textAlign = 'center';
                    ctx.textBaseline = 'bottom';
                    this.data.datasets.forEach(function (dataset, i) {
                        var meta = chartInstance.controller.getDatasetMeta(i);
                        meta.data.forEach(function (bar, index) {
                            var data = dataset.data[index];
                            ctx.fillText(data, bar._model.x, bar._model.y - 5);
                        });
                    });
                }

                },
            }
        });

new Chart(document.getElementById("barChart2-2"), {
        type: 'bar',
        data: {
            //labels: ["North America", "Europe ex UK", "United Kingdom", "Asia Pacific ex Japan", "Japan"],
            //labels: ["NA", "EURXUK", "GB", "APXJP", "JP"],
            labels: [data[0].code,data[1].code,data[2].code,data[3].code,data[4].code],
            datasets: [
                {
                    label: "vs_MSWLD",
                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                    data: [data[0].diff,data[1].diff,data[2].diff,data[3].diff,data[4].diff]
                }
            ]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'Regional Active Weight'
            },
            animation: {
                onComplete:function(){
                    var chartInstance = this.chart,
                    ctx = chartInstance.ctx;
                    ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                    ctx.fillStyle = "black";
                    ctx.textAlign = 'center';
                    ctx.textBaseline = 'bottomtip';
                    this.data.datasets.forEach(function (dataset, i) {
                        var meta = chartInstance.controller.getDatasetMeta(i);
                        meta.data.forEach(function (bar, index) {
                            var data = dataset.data[index];
                            ctx.fillText(data, bar._model.x, bar._model.y - 5);
                        });
                    });
            }

                },
        }
    });
        }
    });


$.ajax({
        url: 'http://localhost:8080/barChart3',
        dataType: 'json',
        success: function (data) {

//bar chart
new Chart(document.getElementById("barChart3-1"), {
        type: 'bar',
        data: {
            //labels: [data[0].code,data[1].code,data[2].code,data[3].code,data[4].code,data[5].code,data[6].code,data[7].code,data[8].code,data[9].code,],
            labels: ["AU", "AT", "BE", "CA", "CN", "DK", "FI", "FR", "DE", "GB"],
            datasets: [
                {
                    label: "CURR_PORT",
                    fill: true,
                    backgroundColor: "#493e8e",
                    borderColor: "rgba(179,181,198,1)",
                    pointBorderColor: "#fff",
                    pointBackgroundColor: "rgba(179,181,198,1)",
                    data: [data[0].spercentage,data[1].spercentage,data[2].spercentage,data[3].spercentage,data[4].spercentage,data[5].spercentage,data[6].spercentage,data[7].spercentage,data[8].spercentage,data[9].spercentage]
                }, {
                    label: "MSWLD",
                    fill: true,
                    backgroundColor: "#beb6bb",
                    borderColor: "rgba(255,99,132,1)",
                    pointBorderColor: "#fff",
                    pointBackgroundColor: "rgba(255,99,132,1)",
                    pointBorderColor: "#fff",
                    data: [data[0].bpercentage,data[1].bpercentage,data[2].bpercentage,data[3].bpercentage,data[4].bpercentage,data[5].bpercentage,data[6].bpercentage,data[7].bpercentage,data[8].bpercentage,data[9].bpercentage]
                }
            ]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'Country Weights'
            }
        }
    });

    new Chart(document.getElementById("barChart3-2"), {
            type: 'bar',
            data: {
                //labels: [data[0].code,data[1].code,data[2].code,data[3].code,data[4].code,data[5].code,data[6].code,data[7].code,data[8].code,data[9].code,],
                labels: ["AU", "AT", "BE", "CA", "CN", "DK", "FI", "FR", "DE", "GB"],
                datasets: [
                    {
                        label: "vs_MSWLD",
                        backgroundColor: ["#3e95cd", "#3e95cd","#3e95cd", "#3e95cd","#3e95cd", "#3e95cd","#3e95cd", "#3e95cd","#3e95cd", "#3e95cd"],
                        data: [data[0].diff,data[1].diff,data[2].diff,data[3].diff,data[4].diff,data[5].diff,data[6].diff,data[7].diff,data[8].diff,data[9].diff]
                    }
                ]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: 'Country Active Weights'
                }
            }
        });
    }
});
</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
