<!--bar one detail-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<!--page content-->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div id="columnChart" style="height:300px"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p hidden>{{ .id }}</p>
                <h1>Portfolio Holding</h1>
                <table id="table">
                </table>


            </div>
        </div>
    </div>
</div>

<script>
    // Load Charts and the corechart package.
    google.charts.load('current', { 'packages': ['corechart'] });

    // Draw the bar chart when Charts is loaded.
    google.charts.setOnLoadCallback(drawcolumnChart);
    // Draw the column chart when Charts is loaded.
    google.charts.setOnLoadCallback(drawBarChart);

    function drawcolumnChart() {
        $.ajax({
            url: 'http://localhost:8080/secruity',
            dataType: 'json',
            success: function (jsonData) {
                var data = new google.visualization.DataTable();

                data.addColumn('string', 'name');
                data.addColumn('number', 'weight');
                // data.addColumn({ type: 'string', role: 'annotation' });

                for (var i = 0; i < jsonData.length; i++) {
                    data.addRows([[jsonData[i].name, jsonData[i].weight]]);
                    // data.addRows([[jsonData[i].name, jsonData[i].weight, "" + jsonData[i].weight + ""]]);
                }
                var options = {
                    title: 'Portfolio Weights',
                    legend: { position: 'top' }
                }

                var chart = new google.visualization.ColumnChart(
                    document.getElementById('columnChart'));

                chart.draw(data, options);
            }

        });
    }
</script>



<script>
    $('#table').bootstrapTable({
        height: 300,
        url: 'http://localhost:8080/secruity',
        columns: [{
            field: 'name',
            title: 'Name',
            sortable: true,
            align: 'left',
            valign: 'middle',
        },
        {
            field: 'isocty',
            title: 'Country',
            sortable: true,
            align: 'center',
            valign: 'middle',
        },
        {
            field: 'sector',
            title: 'Sector',
            sortable: true,
            align: 'center',
            valign: 'middle',
        },
        {
            field: 'weight',
            title: 'Weight',
            sortable: true,
            align: 'center',
            valign: 'middle',
            cellStyle: format,
            formatter: numberFormatter,
        },]
    });


    function format(data) {
        if (data > 0) {
            return { css: { "color": "green" } };
        } else if (data < 0) {
            return { css: { "color": "red" } };
        } else {
            return { css: { "color": "black" } };
        }
    }

    function numberFormatter(data) {
        return data + '%';
    }
</script>



<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}